<header>
		
	<div class="top-menus">
	
		<div class="top-wrap">
			<a href="./" class="logo"></a>

			<nav>
				{% for menu in site.data.settings.menus %}
				<a href="{{ menu.url }}">{{ menu.name }}</a>
				{% endfor %}
			</nav>
		</div>

	</div>

	<div class="header-wrap">
		<h2>{{ site.title }}</h2>
		<p class="tagline">{{ site.tagline }}</p>

		<p class="desc">{{ site.description }}</p>

		<a href="#order" class="link-hero btn-link">ORDER</a>

		<div class="social-links">
			{% for social in site.data.settings.socials %}
			<a href="{{ social.url }}" target="_blank" class="icon-{{ social.icon }}"></a>
			{% endfor %}
		</div>
	</div>

</header>